<h1>Recently Reviewed Movies</h1>

<% @movies.each do |movie| %>
    <h3><%= link_to movie.title, movie_path(movie.id) %> (<%= movie.year %>)</h3>
    <p>&emsp;<%= render partial: 'reviews/reviews', locals: {reviews: movie.reviews.order(updated_at: :desc).limit(1)} %></p>
<% end %>