<% if @error_message %>
    <h3><%= @error_message %></h3>
    <%= button_to "Search Again", search_index_path, method: :get %>
<% elsif @movies %>
    <% @movies.each do |movie| %>
        <%= link_to movie.title, movie_path(movie) %>
    <% end %>
<% else %>
    <h3>No Matching Movies Found</h3>
    < %= button_to "Search Again", search_index_path, method: :get %>
<% end %>