<% if @movie %>
    <h1>Reviews for <%= @movie.title%></h1>
<% else %>
    <h1>All Reviews</h1>
<% end %>

<%= render partial: 'reviews/reviews', locals: {reviews: @reviews.order(updated_at: :desc)} %>

<% if logged_in? %>
    <p><%= link_to 'Leave a review', new_movie_review_path(@movie.id)%></p>
<% end %>

<% if @movie %>
    <h4><%= link_to 'Back', movie_path(@movie.id), class: "btn btn-info"  %></h4>
<% end %>