<% if @movie %>
    <h1>Reviews for <%= @movie.title%></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>

<% @reviews.each do |r|%>
    <%= r.user.to_s %> says "<%= link_to r.content, movie_review_path(@movie, r) %>" %>
<% end %>